/* assets/css/main.css */
:root {
  --color-bg-light: #f0f0f0; /* Colore di sfondo per il tema chiaro */
  --color-bg-dark: #202020; /* Colore di sfondo per il tema scuro */
  font-family: Poppins;
}

body {
  background-color: var(--color-bg-light);
}

.dark body {
  background-color: var(--color-bg-dark);
}
